@import '../../theme';

@mixin icon-color ($name, $color) {
    &[ui-icon--color="#{$name}"] {
        color: $color;
    }
}

@mixin icon-size ($name, $multipler) {
    &[ui-icon--size="#{$name}"] {
        font-size: $base-font-size + $multipler;
    }
}

@font-face {
    font-family: "Flaticon";
    src: url("/fonts/Flaticon.eot");
    src: url("/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
            url("/fonts/Flaticon.woff") format("woff"),
            url("/fonts/Flaticon.ttf") format("truetype"),
            url("/fonts/Flaticon.sv#fonts/Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("/fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[ui-icon] {
    &:after,
    &:before {
        font-family: Flaticon;
        font-style: normal;
        display: inline-block;
    }

    &[ui-icon--name="abacus"]:before { content: "\f100"; } //@if-use-mod:ui-icon--name-abacus
    &[ui-icon--name="absolute-position"]:before { content: "\f101"; } //@if-use-mod:ui-icon--name-absolute-position
    &[ui-icon--name="accordion-menu"]:before { content: "\f102"; } //@if-use-mod:ui-icon--name-accordion-menu
    &[ui-icon--name="add-dock"]:before { content: "\f103"; } //@if-use-mod:ui-icon--name-add-dock
    &[ui-icon--name="add-square"]:before { content: "\f104"; } //@if-use-mod:ui-icon--name-add-square
    &[ui-icon--name="adjust"]:before { content: "\f105"; } //@if-use-mod:ui-icon--name-adjust
    &[ui-icon--name="adobe-flash-logo"]:before { content: "\f106"; } //@if-use-mod:ui-icon--name-adobe-flash-logo
    &[ui-icon--name="affect"]:before { content: "\f107"; } //@if-use-mod:ui-icon--name-affect
    &[ui-icon--name="airplane"]:before { content: "\f108"; } //@if-use-mod:ui-icon--name-airplane
    &[ui-icon--name="anchor"]:before { content: "\f109"; } //@if-use-mod:ui-icon--name-anchor
    &[ui-icon--name="archives"]:before { content: "\f10a"; } //@if-use-mod:ui-icon--name-archives
    &[ui-icon--name="asterisk"]:before { content: "\f10b"; } //@if-use-mod:ui-icon--name-asterisk
    &[ui-icon--name="at"]:before { content: "\f10c"; } //@if-use-mod:ui-icon--name-at
    &[ui-icon--name="automation"]:before { content: "\f10d"; } //@if-use-mod:ui-icon--name-automation
    &[ui-icon--name="backward-time"]:before { content: "\f10e"; } //@if-use-mod:ui-icon--name-backward-time
    &[ui-icon--name="ban"]:before { content: "\f10f"; } //@if-use-mod:ui-icon--name-ban
    &[ui-icon--name="bar-chart"]:before { content: "\f110"; } //@if-use-mod:ui-icon--name-bar-chart
    &[ui-icon--name="bar-menu"]:before { content: "\f111"; } //@if-use-mod:ui-icon--name-bar-menu
    &[ui-icon--name="barcode"]:before { content: "\f112"; } //@if-use-mod:ui-icon--name-barcode
    &[ui-icon--name="bell"]:before { content: "\f113"; } //@if-use-mod:ui-icon--name-bell
    &[ui-icon--name="bell-1"]:before { content: "\f114"; } //@if-use-mod:ui-icon--name-bell-1
    &[ui-icon--name="bell-slash"]:before { content: "\f115"; } //@if-use-mod:ui-icon--name-bell-slash
    &[ui-icon--name="bell-slash-1"]:before { content: "\f116"; } //@if-use-mod:ui-icon--name-bell-slash-1
    &[ui-icon--name="blank-file"]:before { content: "\f117"; } //@if-use-mod:ui-icon--name-blank-file
    &[ui-icon--name="boat"]:before { content: "\f118"; } //@if-use-mod:ui-icon--name-boat
    &[ui-icon--name="bold"]:before { content: "\f119"; } //@if-use-mod:ui-icon--name-bold
    &[ui-icon--name="bolt"]:before { content: "\f11a"; } //@if-use-mod:ui-icon--name-bolt
    &[ui-icon--name="bomb"]:before { content: "\f11b"; } //@if-use-mod:ui-icon--name-bomb
    &[ui-icon--name="book"]:before { content: "\f11c"; } //@if-use-mod:ui-icon--name-book
    &[ui-icon--name="bookmark"]:before { content: "\f11d"; } //@if-use-mod:ui-icon--name-bookmark
    &[ui-icon--name="bookmark-1"]:before { content: "\f11e"; } //@if-use-mod:ui-icon--name-bookmark-1
    &[ui-icon--name="bottom-margin"]:before { content: "\f11f"; } //@if-use-mod:ui-icon--name-bottom-margin
    &[ui-icon--name="box"]:before { content: "\f120"; } //@if-use-mod:ui-icon--name-box
    &[ui-icon--name="briefcase"]:before { content: "\f121"; } //@if-use-mod:ui-icon--name-briefcase
    &[ui-icon--name="broken-link"]:before { content: "\f122"; } //@if-use-mod:ui-icon--name-broken-link
    &[ui-icon--name="browser"]:before { content: "\f123"; } //@if-use-mod:ui-icon--name-browser
    &[ui-icon--name="browser-1"]:before { content: "\f124"; } //@if-use-mod:ui-icon--name-browser-1
    &[ui-icon--name="browser-panel"]:before { content: "\f125"; } //@if-use-mod:ui-icon--name-browser-panel
    &[ui-icon--name="bug"]:before { content: "\f126"; } //@if-use-mod:ui-icon--name-bug
    &[ui-icon--name="bug-1"]:before { content: "\f127"; } //@if-use-mod:ui-icon--name-bug-1
    &[ui-icon--name="building"]:before { content: "\f128"; } //@if-use-mod:ui-icon--name-building
    &[ui-icon--name="building-1"]:before { content: "\f129"; } //@if-use-mod:ui-icon--name-building-1
    &[ui-icon--name="bullets"]:before { content: "\f12a"; } //@if-use-mod:ui-icon--name-bullets
    &[ui-icon--name="bullseye"]:before { content: "\f12b"; } //@if-use-mod:ui-icon--name-bullseye
    &[ui-icon--name="button"]:before { content: "\f12c"; } //@if-use-mod:ui-icon--name-button
    &[ui-icon--name="caculating-symbols"]:before { content: "\f12d"; } //@if-use-mod:ui-icon--name-caculating-symbols
    &[ui-icon--name="caculator-and-book"]:before { content: "\f12e"; } //@if-use-mod:ui-icon--name-caculator-and-book
    &[ui-icon--name="calendar"]:before { content: "\f12f"; } //@if-use-mod:ui-icon--name-calendar
    &[ui-icon--name="calendar-1"]:before { content: "\f130"; } //@if-use-mod:ui-icon--name-calendar-1
    &[ui-icon--name="calendar-and-briefcase"]:before { content: "\f131"; } //@if-use-mod:ui-icon--name-calendar-and-briefcase
    &[ui-icon--name="calendar-and-clock"]:before { content: "\f132"; } //@if-use-mod:ui-icon--name-calendar-and-clock
    &[ui-icon--name="calendar-and-envelope"]:before { content: "\f133"; } //@if-use-mod:ui-icon--name-calendar-and-envelope
    &[ui-icon--name="calendar-and-user"]:before { content: "\f134"; } //@if-use-mod:ui-icon--name-calendar-and-user
    &[ui-icon--name="camera"]:before { content: "\f135"; } //@if-use-mod:ui-icon--name-camera
    &[ui-icon--name="cancel-button"]:before { content: "\f136"; } //@if-use-mod:ui-icon--name-cancel-button
    &[ui-icon--name="car"]:before { content: "\f137"; } //@if-use-mod:ui-icon--name-car
    &[ui-icon--name="center-align"]:before { content: "\f138"; } //@if-use-mod:ui-icon--name-center-align
    &[ui-icon--name="chart"]:before { content: "\f139"; } //@if-use-mod:ui-icon--name-chart
    &[ui-icon--name="chart-line"]:before { content: "\f13a"; } //@if-use-mod:ui-icon--name-chart-line
    &[ui-icon--name="chat"]:before { content: "\f13b"; } //@if-use-mod:ui-icon--name-chat
    &[ui-icon--name="check-button"]:before { content: "\f13c"; } //@if-use-mod:ui-icon--name-check-button
    &[ui-icon--name="check-square"]:before { content: "\f13d"; } //@if-use-mod:ui-icon--name-check-square
    &[ui-icon--name="check-square-1"]:before { content: "\f13e"; } //@if-use-mod:ui-icon--name-check-square-1
    &[ui-icon--name="checked"]:before { content: "\f13f"; } //@if-use-mod:ui-icon--name-checked
    &[ui-icon--name="checked-1"]:before { content: "\f140"; } //@if-use-mod:ui-icon--name-checked-1
    &[ui-icon--name="checked-2"]:before { content: "\f141"; } //@if-use-mod:ui-icon--name-checked-2
    &[ui-icon--name="checked-3"]:before { content: "\f142"; } //@if-use-mod:ui-icon--name-checked-3
    &[ui-icon--name="checkered-flag"]:before { content: "\f143"; } //@if-use-mod:ui-icon--name-checkered-flag
    &[ui-icon--name="child"]:before { content: "\f144"; } //@if-use-mod:ui-icon--name-child
    &[ui-icon--name="circle"]:before { content: "\f145"; } //@if-use-mod:ui-icon--name-circle
    &[ui-icon--name="circle-1"]:before { content: "\f146"; } //@if-use-mod:ui-icon--name-circle-1
    &[ui-icon--name="clipboard"]:before { content: "\f147"; } //@if-use-mod:ui-icon--name-clipboard
    &[ui-icon--name="clipboard-1"]:before { content: "\f148"; } //@if-use-mod:ui-icon--name-clipboard-1
    &[ui-icon--name="clipboard-2"]:before { content: "\f149"; } //@if-use-mod:ui-icon--name-clipboard-2
    &[ui-icon--name="clipboard-heart"]:before { content: "\f14a"; } //@if-use-mod:ui-icon--name-clipboard-heart
    &[ui-icon--name="clipboard-with-pulse"]:before { content: "\f14b"; } //@if-use-mod:ui-icon--name-clipboard-with-pulse
    &[ui-icon--name="clipboard-with-user"]:before { content: "\f14c"; } //@if-use-mod:ui-icon--name-clipboard-with-user
    &[ui-icon--name="clock"]:before { content: "\f14d"; } //@if-use-mod:ui-icon--name-clock
    &[ui-icon--name="close"]:before { content: "\f14e"; } //@if-use-mod:ui-icon--name-close
    &[ui-icon--name="close-button"]:before { content: "\f14f"; } //@if-use-mod:ui-icon--name-close-button
    &[ui-icon--name="cloud"]:before { content: "\f150"; } //@if-use-mod:ui-icon--name-cloud
    &[ui-icon--name="cloud-1"]:before { content: "\f151"; } //@if-use-mod:ui-icon--name-cloud-1
    &[ui-icon--name="cloud-upload"]:before { content: "\f152"; } //@if-use-mod:ui-icon--name-cloud-upload
    &[ui-icon--name="cloud-uploading"]:before { content: "\f153"; } //@if-use-mod:ui-icon--name-cloud-uploading
    &[ui-icon--name="cocktail-glass"]:before { content: "\f154"; } //@if-use-mod:ui-icon--name-cocktail-glass
    &[ui-icon--name="coffee"]:before { content: "\f155"; } //@if-use-mod:ui-icon--name-coffee
    &[ui-icon--name="cogwheel"]:before { content: "\f156"; } //@if-use-mod:ui-icon--name-cogwheel
    &[ui-icon--name="cogwheel-1"]:before { content: "\f157"; } //@if-use-mod:ui-icon--name-cogwheel-1
    &[ui-icon--name="combo-box"]:before { content: "\f158"; } //@if-use-mod:ui-icon--name-combo-box
    &[ui-icon--name="comment"]:before { content: "\f159"; } //@if-use-mod:ui-icon--name-comment
    &[ui-icon--name="commenting"]:before { content: "\f15a"; } //@if-use-mod:ui-icon--name-commenting
    &[ui-icon--name="commenting-1"]:before { content: "\f15b"; } //@if-use-mod:ui-icon--name-commenting-1
    &[ui-icon--name="comments"]:before { content: "\f15c"; } //@if-use-mod:ui-icon--name-comments
    &[ui-icon--name="compass"]:before { content: "\f15d"; } //@if-use-mod:ui-icon--name-compass
    &[ui-icon--name="compass-1"]:before { content: "\f15e"; } //@if-use-mod:ui-icon--name-compass-1
    &[ui-icon--name="compress"]:before { content: "\f15f"; } //@if-use-mod:ui-icon--name-compress
    &[ui-icon--name="compress-square"]:before { content: "\f160"; } //@if-use-mod:ui-icon--name-compress-square
    &[ui-icon--name="computing-code"]:before { content: "\f161"; } //@if-use-mod:ui-icon--name-computing-code
    &[ui-icon--name="connect"]:before { content: "\f162"; } //@if-use-mod:ui-icon--name-connect
    &[ui-icon--name="connect-1"]:before { content: "\f163"; } //@if-use-mod:ui-icon--name-connect-1
    &[ui-icon--name="controller"]:before { content: "\f164"; } //@if-use-mod:ui-icon--name-controller
    &[ui-icon--name="conversation"]:before { content: "\f165"; } //@if-use-mod:ui-icon--name-conversation
    &[ui-icon--name="conversation-1"]:before { content: "\f166"; } //@if-use-mod:ui-icon--name-conversation-1
    &[ui-icon--name="copy-file"]:before { content: "\f167"; } //@if-use-mod:ui-icon--name-copy-file
    &[ui-icon--name="copy-file-1"]:before { content: "\f168"; } //@if-use-mod:ui-icon--name-copy-file-1
    &[ui-icon--name="copyright-symbol"]:before { content: "\f169"; } //@if-use-mod:ui-icon--name-copyright-symbol
    &[ui-icon--name="corner-handle"]:before { content: "\f16a"; } //@if-use-mod:ui-icon--name-corner-handle
    &[ui-icon--name="credit-card"]:before { content: "\f16b"; } //@if-use-mod:ui-icon--name-credit-card
    &[ui-icon--name="crescent-moon"]:before { content: "\f16c"; } //@if-use-mod:ui-icon--name-crescent-moon
    &[ui-icon--name="crop"]:before { content: "\f16d"; } //@if-use-mod:ui-icon--name-crop
    &[ui-icon--name="cross-cutlery"]:before { content: "\f16e"; } //@if-use-mod:ui-icon--name-cross-cutlery
    &[ui-icon--name="crossed-arrows"]:before { content: "\f16f"; } //@if-use-mod:ui-icon--name-crossed-arrows
    &[ui-icon--name="crosshair"]:before { content: "\f170"; } //@if-use-mod:ui-icon--name-crosshair
    &[ui-icon--name="css-code"]:before { content: "\f171"; } //@if-use-mod:ui-icon--name-css-code
    &[ui-icon--name="cube"]:before { content: "\f172"; } //@if-use-mod:ui-icon--name-cube
    &[ui-icon--name="cubes"]:before { content: "\f173"; } //@if-use-mod:ui-icon--name-cubes
    &[ui-icon--name="curly-brackets"]:before { content: "\f174"; } //@if-use-mod:ui-icon--name-curly-brackets
    &[ui-icon--name="cutlery"]:before { content: "\f175"; } //@if-use-mod:ui-icon--name-cutlery
    &[ui-icon--name="dashboard"]:before { content: "\f176"; } //@if-use-mod:ui-icon--name-dashboard
    &[ui-icon--name="database"]:before { content: "\f177"; } //@if-use-mod:ui-icon--name-database
    &[ui-icon--name="date-input"]:before { content: "\f178"; } //@if-use-mod:ui-icon--name-date-input
    &[ui-icon--name="dentist-chair"]:before { content: "\f179"; } //@if-use-mod:ui-icon--name-dentist-chair
    &[ui-icon--name="disabled-sign"]:before { content: "\f17a"; } //@if-use-mod:ui-icon--name-disabled-sign
    &[ui-icon--name="disc"]:before { content: "\f17b"; } //@if-use-mod:ui-icon--name-disc
    &[ui-icon--name="doctor"]:before { content: "\f17c"; } //@if-use-mod:ui-icon--name-doctor
    &[ui-icon--name="doctor-1"]:before { content: "\f17d"; } //@if-use-mod:ui-icon--name-doctor-1
    &[ui-icon--name="doctor-briefcase"]:before { content: "\f17e"; } //@if-use-mod:ui-icon--name-doctor-briefcase
    &[ui-icon--name="dollar-symbol"]:before { content: "\f17f"; } //@if-use-mod:ui-icon--name-dollar-symbol
    &[ui-icon--name="dot-inside-a-circle"]:before { content: "\f180"; } //@if-use-mod:ui-icon--name-dot-inside-a-circle
    &[ui-icon--name="double-arrow"]:before { content: "\f181"; } //@if-use-mod:ui-icon--name-double-arrow
    &[ui-icon--name="down-arrow"]:before { content: "\f182"; } //@if-use-mod:ui-icon--name-down-arrow
    &[ui-icon--name="down-arrow-1"]:before { content: "\f183"; } //@if-use-mod:ui-icon--name-down-arrow-1
    &[ui-icon--name="down-arrow-2"]:before { content: "\f184"; } //@if-use-mod:ui-icon--name-down-arrow-2
    &[ui-icon--name="down-arrow-3"]:before { content: "\f185"; } //@if-use-mod:ui-icon--name-down-arrow-3
    &[ui-icon--name="down-arrow-4"]:before { content: "\f186"; } //@if-use-mod:ui-icon--name-down-arrow-4
    &[ui-icon--name="down-arrow-5"]:before { content: "\f187"; } //@if-use-mod:ui-icon--name-down-arrow-5
    &[ui-icon--name="down-arrow-6"]:before { content: "\f188"; } //@if-use-mod:ui-icon--name-down-arrow-6
    &[ui-icon--name="down-arrows"]:before { content: "\f189"; } //@if-use-mod:ui-icon--name-down-arrows
    &[ui-icon--name="down-margin"]:before { content: "\f18a"; } //@if-use-mod:ui-icon--name-down-margin
    &[ui-icon--name="download-from-cloud"]:before { content: "\f18b"; } //@if-use-mod:ui-icon--name-download-from-cloud
    &[ui-icon--name="download-symbol"]:before { content: "\f18c"; } //@if-use-mod:ui-icon--name-download-symbol
    &[ui-icon--name="download-symbol-1"]:before { content: "\f18d"; } //@if-use-mod:ui-icon--name-download-symbol-1
    &[ui-icon--name="downloading-from-cloud"]:before { content: "\f18e"; } //@if-use-mod:ui-icon--name-downloading-from-cloud
    &[ui-icon--name="drop"]:before { content: "\f18f"; } //@if-use-mod:ui-icon--name-drop
    &[ui-icon--name="earth-globe"]:before { content: "\f190"; } //@if-use-mod:ui-icon--name-earth-globe
    &[ui-icon--name="economy-book"]:before { content: "\f191"; } //@if-use-mod:ui-icon--name-economy-book
    &[ui-icon--name="edit"]:before { content: "\f192"; } //@if-use-mod:ui-icon--name-edit
    &[ui-icon--name="eject-symbol"]:before { content: "\f193"; } //@if-use-mod:ui-icon--name-eject-symbol
    &[ui-icon--name="elastic"]:before { content: "\f194"; } //@if-use-mod:ui-icon--name-elastic
    &[ui-icon--name="elipsis"]:before { content: "\f195"; } //@if-use-mod:ui-icon--name-elipsis
    &[ui-icon--name="ellipsis"]:before { content: "\f196"; } //@if-use-mod:ui-icon--name-ellipsis
    &[ui-icon--name="ellipsis-circle"]:before { content: "\f197"; } //@if-use-mod:ui-icon--name-ellipsis-circle
    &[ui-icon--name="ellipsis-circle-1"]:before { content: "\f198"; } //@if-use-mod:ui-icon--name-ellipsis-circle-1
    &[ui-icon--name="envelope"]:before { content: "\f199"; } //@if-use-mod:ui-icon--name-envelope
    &[ui-icon--name="envelope-1"]:before { content: "\f19a"; } //@if-use-mod:ui-icon--name-envelope-1
    &[ui-icon--name="eraser"]:before { content: "\f19b"; } //@if-use-mod:ui-icon--name-eraser
    &[ui-icon--name="exchange"]:before { content: "\f19c"; } //@if-use-mod:ui-icon--name-exchange
    &[ui-icon--name="exclamation"]:before { content: "\f19d"; } //@if-use-mod:ui-icon--name-exclamation
    &[ui-icon--name="exclamation-circle"]:before { content: "\f19e"; } //@if-use-mod:ui-icon--name-exclamation-circle
    &[ui-icon--name="exclamation-circle-1"]:before { content: "\f19f"; } //@if-use-mod:ui-icon--name-exclamation-circle-1
    &[ui-icon--name="exit-symbol"]:before { content: "\f1a0"; } //@if-use-mod:ui-icon--name-exit-symbol
    &[ui-icon--name="exit-symbol-1"]:before { content: "\f1a1"; } //@if-use-mod:ui-icon--name-exit-symbol-1
    &[ui-icon--name="expand-arrows"]:before { content: "\f1a2"; } //@if-use-mod:ui-icon--name-expand-arrows
    &[ui-icon--name="expand-arrows-1"]:before { content: "\f1a3"; } //@if-use-mod:ui-icon--name-expand-arrows-1
    &[ui-icon--name="expand-square"]:before { content: "\f1a4"; } //@if-use-mod:ui-icon--name-expand-square
    &[ui-icon--name="external-browser"]:before { content: "\f1a5"; } //@if-use-mod:ui-icon--name-external-browser
    &[ui-icon--name="external-link"]:before { content: "\f1a6"; } //@if-use-mod:ui-icon--name-external-link
    &[ui-icon--name="eye"]:before { content: "\f1a7"; } //@if-use-mod:ui-icon--name-eye
    &[ui-icon--name="eye-slash"]:before { content: "\f1a8"; } //@if-use-mod:ui-icon--name-eye-slash
    &[ui-icon--name="eyedropper"]:before { content: "\f1a9"; } //@if-use-mod:ui-icon--name-eyedropper
    &[ui-icon--name="facebook-logo"]:before { content: "\f1aa"; } //@if-use-mod:ui-icon--name-facebook-logo
    &[ui-icon--name="facebook-logo-on-square"]:before { content: "\f1ab"; } //@if-use-mod:ui-icon--name-facebook-logo-on-square
    &[ui-icon--name="factory"]:before { content: "\f1ac"; } //@if-use-mod:ui-icon--name-factory
    &[ui-icon--name="fast-forward"]:before { content: "\f1ad"; } //@if-use-mod:ui-icon--name-fast-forward
    &[ui-icon--name="file"]:before { content: "\f1ae"; } //@if-use-mod:ui-icon--name-file
    &[ui-icon--name="file-code"]:before { content: "\f1af"; } //@if-use-mod:ui-icon--name-file-code
    &[ui-icon--name="file-tree"]:before { content: "\f1b0"; } //@if-use-mod:ui-icon--name-file-tree
    &[ui-icon--name="file-tree-1"]:before { content: "\f1b1"; } //@if-use-mod:ui-icon--name-file-tree-1
    &[ui-icon--name="file-tree-2"]:before { content: "\f1b2"; } //@if-use-mod:ui-icon--name-file-tree-2
    &[ui-icon--name="fill"]:before { content: "\f1b3"; } //@if-use-mod:ui-icon--name-fill
    &[ui-icon--name="film"]:before { content: "\f1b4"; } //@if-use-mod:ui-icon--name-film
    &[ui-icon--name="filter"]:before { content: "\f1b5"; } //@if-use-mod:ui-icon--name-filter
    &[ui-icon--name="fire"]:before { content: "\f1b6"; } //@if-use-mod:ui-icon--name-fire
    &[ui-icon--name="flag"]:before { content: "\f1b7"; } //@if-use-mod:ui-icon--name-flag
    &[ui-icon--name="flask"]:before { content: "\f1b8"; } //@if-use-mod:ui-icon--name-flask
    &[ui-icon--name="flip"]:before { content: "\f1b9"; } //@if-use-mod:ui-icon--name-flip
    &[ui-icon--name="flip-1"]:before { content: "\f1ba"; } //@if-use-mod:ui-icon--name-flip-1
    &[ui-icon--name="folder"]:before { content: "\f1bb"; } //@if-use-mod:ui-icon--name-folder
    &[ui-icon--name="folder-1"]:before { content: "\f1bc"; } //@if-use-mod:ui-icon--name-folder-1
    &[ui-icon--name="font"]:before { content: "\f1bd"; } //@if-use-mod:ui-icon--name-font
    &[ui-icon--name="font-file"]:before { content: "\f1be"; } //@if-use-mod:ui-icon--name-font-file
    &[ui-icon--name="form"]:before { content: "\f1bf"; } //@if-use-mod:ui-icon--name-form
    &[ui-icon--name="forward-arrow"]:before { content: "\f1c0"; } //@if-use-mod:ui-icon--name-forward-arrow
    &[ui-icon--name="forward-time"]:before { content: "\f1c1"; } //@if-use-mod:ui-icon--name-forward-time
    &[ui-icon--name="frown-face"]:before { content: "\f1c2"; } //@if-use-mod:ui-icon--name-frown-face
    &[ui-icon--name="function"]:before { content: "\f1c3"; } //@if-use-mod:ui-icon--name-function
    &[ui-icon--name="gamepad"]:before { content: "\f1c4"; } //@if-use-mod:ui-icon--name-gamepad
    &[ui-icon--name="gavel"]:before { content: "\f1c5"; } //@if-use-mod:ui-icon--name-gavel
    &[ui-icon--name="gear"]:before { content: "\f1c6"; } //@if-use-mod:ui-icon--name-gear
    &[ui-icon--name="gift"]:before { content: "\f1c7"; } //@if-use-mod:ui-icon--name-gift
    &[ui-icon--name="glasses"]:before { content: "\f1c8"; } //@if-use-mod:ui-icon--name-glasses
    &[ui-icon--name="golf-player"]:before { content: "\f1c9"; } //@if-use-mod:ui-icon--name-golf-player
    &[ui-icon--name="google-plus-logo"]:before { content: "\f1ca"; } //@if-use-mod:ui-icon--name-google-plus-logo
    &[ui-icon--name="google-plus-logo-1"]:before { content: "\f1cb"; } //@if-use-mod:ui-icon--name-google-plus-logo-1
    &[ui-icon--name="grab"]:before { content: "\f1cc"; } //@if-use-mod:ui-icon--name-grab
    &[ui-icon--name="grid"]:before { content: "\f1cd"; } //@if-use-mod:ui-icon--name-grid
    &[ui-icon--name="grid-level"]:before { content: "\f1ce"; } //@if-use-mod:ui-icon--name-grid-level
    &[ui-icon--name="group"]:before { content: "\f1cf"; } //@if-use-mod:ui-icon--name-group
    &[ui-icon--name="hand"]:before { content: "\f1d0"; } //@if-use-mod:ui-icon--name-hand
    &[ui-icon--name="hands-up"]:before { content: "\f1d1"; } //@if-use-mod:ui-icon--name-hands-up
    &[ui-icon--name="hard-drive"]:before { content: "\f1d2"; } //@if-use-mod:ui-icon--name-hard-drive
    &[ui-icon--name="hard-drive-1"]:before { content: "\f1d3"; } //@if-use-mod:ui-icon--name-hard-drive-1
    &[ui-icon--name="hash"]:before { content: "\f1d4"; } //@if-use-mod:ui-icon--name-hash
    &[ui-icon--name="header"]:before { content: "\f1d5"; } //@if-use-mod:ui-icon--name-header
    &[ui-icon--name="headphones"]:before { content: "\f1d6"; } //@if-use-mod:ui-icon--name-headphones
    &[ui-icon--name="heart"]:before { content: "\f1d7"; } //@if-use-mod:ui-icon--name-heart
    &[ui-icon--name="heart-1"]:before { content: "\f1d8"; } //@if-use-mod:ui-icon--name-heart-1
    &[ui-icon--name="home"]:before { content: "\f1d9"; } //@if-use-mod:ui-icon--name-home
    &[ui-icon--name="horizontal-tablet"]:before { content: "\f1da"; } //@if-use-mod:ui-icon--name-horizontal-tablet
    &[ui-icon--name="house"]:before { content: "\f1db"; } //@if-use-mod:ui-icon--name-house
    &[ui-icon--name="inbox"]:before { content: "\f1dc"; } //@if-use-mod:ui-icon--name-inbox
    &[ui-icon--name="indent"]:before { content: "\f1dd"; } //@if-use-mod:ui-icon--name-indent
    &[ui-icon--name="indent-1"]:before { content: "\f1de"; } //@if-use-mod:ui-icon--name-indent-1
    &[ui-icon--name="info"]:before { content: "\f1df"; } //@if-use-mod:ui-icon--name-info
    &[ui-icon--name="info-1"]:before { content: "\f1e0"; } //@if-use-mod:ui-icon--name-info-1
    &[ui-icon--name="information"]:before { content: "\f1e1"; } //@if-use-mod:ui-icon--name-information
    &[ui-icon--name="input"]:before { content: "\f1e2"; } //@if-use-mod:ui-icon--name-input
    &[ui-icon--name="insert"]:before { content: "\f1e3"; } //@if-use-mod:ui-icon--name-insert
    &[ui-icon--name="invoice"]:before { content: "\f1e4"; } //@if-use-mod:ui-icon--name-invoice
    &[ui-icon--name="italic"]:before { content: "\f1e5"; } //@if-use-mod:ui-icon--name-italic
    &[ui-icon--name="justify-align"]:before { content: "\f1e6"; } //@if-use-mod:ui-icon--name-justify-align
    &[ui-icon--name="key"]:before { content: "\f1e7"; } //@if-use-mod:ui-icon--name-key
    &[ui-icon--name="key-1"]:before { content: "\f1e8"; } //@if-use-mod:ui-icon--name-key-1
    &[ui-icon--name="keyboard"]:before { content: "\f1e9"; } //@if-use-mod:ui-icon--name-keyboard
    &[ui-icon--name="keyboard-1"]:before { content: "\f1ea"; } //@if-use-mod:ui-icon--name-keyboard-1
    &[ui-icon--name="laptop"]:before { content: "\f1eb"; } //@if-use-mod:ui-icon--name-laptop
    &[ui-icon--name="last-quarter"]:before { content: "\f1ec"; } //@if-use-mod:ui-icon--name-last-quarter
    &[ui-icon--name="layout"]:before { content: "\f1ed"; } //@if-use-mod:ui-icon--name-layout
    &[ui-icon--name="left-alignment"]:before { content: "\f1ee"; } //@if-use-mod:ui-icon--name-left-alignment
    &[ui-icon--name="left-arrow"]:before { content: "\f1ef"; } //@if-use-mod:ui-icon--name-left-arrow
    &[ui-icon--name="left-arrow-1"]:before { content: "\f1f0"; } //@if-use-mod:ui-icon--name-left-arrow-1
    &[ui-icon--name="left-arrow-2"]:before { content: "\f1f1"; } //@if-use-mod:ui-icon--name-left-arrow-2
    &[ui-icon--name="left-arrow-3"]:before { content: "\f1f2"; } //@if-use-mod:ui-icon--name-left-arrow-3
    &[ui-icon--name="left-arrow-4"]:before { content: "\f1f3"; } //@if-use-mod:ui-icon--name-left-arrow-4
    &[ui-icon--name="left-arrow-5"]:before { content: "\f1f4"; } //@if-use-mod:ui-icon--name-left-arrow-5
    &[ui-icon--name="left-arrow-6"]:before { content: "\f1f5"; } //@if-use-mod:ui-icon--name-left-arrow-6
    &[ui-icon--name="left-arrow-7"]:before { content: "\f1f6"; } //@if-use-mod:ui-icon--name-left-arrow-7
    &[ui-icon--name="left-arrow-8"]:before { content: "\f1f7"; } //@if-use-mod:ui-icon--name-left-arrow-8
    &[ui-icon--name="left-arrows"]:before { content: "\f1f8"; } //@if-use-mod:ui-icon--name-left-arrows
    &[ui-icon--name="left-bold-arrow"]:before { content: "\f1f9"; } //@if-use-mod:ui-icon--name-left-bold-arrow
    &[ui-icon--name="left-bold-arrow-1"]:before { content: "\f1fa"; } //@if-use-mod:ui-icon--name-left-bold-arrow-1
    &[ui-icon--name="left-half-star"]:before { content: "\f1fb"; } //@if-use-mod:ui-icon--name-left-half-star
    &[ui-icon--name="left-lower-corner"]:before { content: "\f1fc"; } //@if-use-mod:ui-icon--name-left-lower-corner
    &[ui-icon--name="left-lower-raster"]:before { content: "\f1fd"; } //@if-use-mod:ui-icon--name-left-lower-raster
    &[ui-icon--name="left-margin"]:before { content: "\f1fe"; } //@if-use-mod:ui-icon--name-left-margin
    &[ui-icon--name="left-margin-1"]:before { content: "\f1ff"; } //@if-use-mod:ui-icon--name-left-margin-1
    &[ui-icon--name="left-quote"]:before { content: "\f200"; } //@if-use-mod:ui-icon--name-left-quote
    &[ui-icon--name="left-upper-coner"]:before { content: "\f201"; } //@if-use-mod:ui-icon--name-left-upper-coner
    &[ui-icon--name="level-down"]:before { content: "\f202"; } //@if-use-mod:ui-icon--name-level-down
    &[ui-icon--name="level-down-1"]:before { content: "\f203"; } //@if-use-mod:ui-icon--name-level-down-1
    &[ui-icon--name="level-up"]:before { content: "\f204"; } //@if-use-mod:ui-icon--name-level-up
    &[ui-icon--name="level-up-1"]:before { content: "\f205"; } //@if-use-mod:ui-icon--name-level-up-1
    &[ui-icon--name="lifebuoy"]:before { content: "\f206"; } //@if-use-mod:ui-icon--name-lifebuoy
    &[ui-icon--name="light-bulb"]:before { content: "\f207"; } //@if-use-mod:ui-icon--name-light-bulb
    &[ui-icon--name="line"]:before { content: "\f208"; } //@if-use-mod:ui-icon--name-line
    &[ui-icon--name="line-1"]:before { content: "\f209"; } //@if-use-mod:ui-icon--name-line-1
    &[ui-icon--name="line-list"]:before { content: "\f20a"; } //@if-use-mod:ui-icon--name-line-list
    &[ui-icon--name="lines"]:before { content: "\f20b"; } //@if-use-mod:ui-icon--name-lines
    &[ui-icon--name="link"]:before { content: "\f20c"; } //@if-use-mod:ui-icon--name-link
    &[ui-icon--name="list"]:before { content: "\f20d"; } //@if-use-mod:ui-icon--name-list
    &[ui-icon--name="list-1"]:before { content: "\f20e"; } //@if-use-mod:ui-icon--name-list-1
    &[ui-icon--name="list-2"]:before { content: "\f20f"; } //@if-use-mod:ui-icon--name-list-2
    &[ui-icon--name="location-arrow"]:before { content: "\f210"; } //@if-use-mod:ui-icon--name-location-arrow
    &[ui-icon--name="long-down-arrow"]:before { content: "\f211"; } //@if-use-mod:ui-icon--name-long-down-arrow
    &[ui-icon--name="long-left-arrow"]:before { content: "\f212"; } //@if-use-mod:ui-icon--name-long-left-arrow
    &[ui-icon--name="long-right-arrow"]:before { content: "\f213"; } //@if-use-mod:ui-icon--name-long-right-arrow
    &[ui-icon--name="long-up-arrow"]:before { content: "\f214"; } //@if-use-mod:ui-icon--name-long-up-arrow
    &[ui-icon--name="love-letter"]:before { content: "\f215"; } //@if-use-mod:ui-icon--name-love-letter
    &[ui-icon--name="magic-wand"]:before { content: "\f216"; } //@if-use-mod:ui-icon--name-magic-wand
    &[ui-icon--name="magnet"]:before { content: "\f217"; } //@if-use-mod:ui-icon--name-magnet
    &[ui-icon--name="mail-box"]:before { content: "\f218"; } //@if-use-mod:ui-icon--name-mail-box
    &[ui-icon--name="man"]:before { content: "\f219"; } //@if-use-mod:ui-icon--name-man
    &[ui-icon--name="margin"]:before { content: "\f21a"; } //@if-use-mod:ui-icon--name-margin
    &[ui-icon--name="medal"]:before { content: "\f21b"; } //@if-use-mod:ui-icon--name-medal
    &[ui-icon--name="megaphone"]:before { content: "\f21c"; } //@if-use-mod:ui-icon--name-megaphone
    &[ui-icon--name="microphone"]:before { content: "\f21d"; } //@if-use-mod:ui-icon--name-microphone
    &[ui-icon--name="minus"]:before { content: "\f21e"; } //@if-use-mod:ui-icon--name-minus
    &[ui-icon--name="minus-button"]:before { content: "\f21f"; } //@if-use-mod:ui-icon--name-minus-button
    &[ui-icon--name="minus-circle"]:before { content: "\f220"; } //@if-use-mod:ui-icon--name-minus-circle
    &[ui-icon--name="minus-circle-1"]:before { content: "\f221"; } //@if-use-mod:ui-icon--name-minus-circle-1
    &[ui-icon--name="modal-list"]:before { content: "\f222"; } //@if-use-mod:ui-icon--name-modal-list
    &[ui-icon--name="money"]:before { content: "\f223"; } //@if-use-mod:ui-icon--name-money
    &[ui-icon--name="monitor"]:before { content: "\f224"; } //@if-use-mod:ui-icon--name-monitor
    &[ui-icon--name="move-arrows"]:before { content: "\f225"; } //@if-use-mod:ui-icon--name-move-arrows
    &[ui-icon--name="move-right"]:before { content: "\f226"; } //@if-use-mod:ui-icon--name-move-right
    &[ui-icon--name="movie"]:before { content: "\f227"; } //@if-use-mod:ui-icon--name-movie
    &[ui-icon--name="movie-file"]:before { content: "\f228"; } //@if-use-mod:ui-icon--name-movie-file
    &[ui-icon--name="musical-note"]:before { content: "\f229"; } //@if-use-mod:ui-icon--name-musical-note
    &[ui-icon--name="mute-microphone"]:before { content: "\f22a"; } //@if-use-mod:ui-icon--name-mute-microphone
    &[ui-icon--name="native-button"]:before { content: "\f22b"; } //@if-use-mod:ui-icon--name-native-button
    &[ui-icon--name="notebook"]:before { content: "\f22c"; } //@if-use-mod:ui-icon--name-notebook
    &[ui-icon--name="object-orientation"]:before { content: "\f22d"; } //@if-use-mod:ui-icon--name-object-orientation
    &[ui-icon--name="open-book"]:before { content: "\f22e"; } //@if-use-mod:ui-icon--name-open-book
    &[ui-icon--name="open-book-1"]:before { content: "\f22f"; } //@if-use-mod:ui-icon--name-open-book-1
    &[ui-icon--name="open-envelope"]:before { content: "\f230"; } //@if-use-mod:ui-icon--name-open-envelope
    &[ui-icon--name="open-envelope-1"]:before { content: "\f231"; } //@if-use-mod:ui-icon--name-open-envelope-1
    &[ui-icon--name="open-folder"]:before { content: "\f232"; } //@if-use-mod:ui-icon--name-open-folder
    &[ui-icon--name="open-folder-1"]:before { content: "\f233"; } //@if-use-mod:ui-icon--name-open-folder-1
    &[ui-icon--name="options"]:before { content: "\f234"; } //@if-use-mod:ui-icon--name-options
    &[ui-icon--name="out-sign"]:before { content: "\f235"; } //@if-use-mod:ui-icon--name-out-sign
    &[ui-icon--name="outbox"]:before { content: "\f236"; } //@if-use-mod:ui-icon--name-outbox
    &[ui-icon--name="package"]:before { content: "\f237"; } //@if-use-mod:ui-icon--name-package
    &[ui-icon--name="padding"]:before { content: "\f238"; } //@if-use-mod:ui-icon--name-padding
    &[ui-icon--name="padlock"]:before { content: "\f239"; } //@if-use-mod:ui-icon--name-padlock
    &[ui-icon--name="paint-brush"]:before { content: "\f23a"; } //@if-use-mod:ui-icon--name-paint-brush
    &[ui-icon--name="paint-roller"]:before { content: "\f23b"; } //@if-use-mod:ui-icon--name-paint-roller
    &[ui-icon--name="palette"]:before { content: "\f23c"; } //@if-use-mod:ui-icon--name-palette
    &[ui-icon--name="paper-plane"]:before { content: "\f23d"; } //@if-use-mod:ui-icon--name-paper-plane
    &[ui-icon--name="paper-plane-1"]:before { content: "\f23e"; } //@if-use-mod:ui-icon--name-paper-plane-1
    &[ui-icon--name="paperclip"]:before { content: "\f23f"; } //@if-use-mod:ui-icon--name-paperclip
    &[ui-icon--name="paragraph"]:before { content: "\f240"; } //@if-use-mod:ui-icon--name-paragraph
    &[ui-icon--name="password"]:before { content: "\f241"; } //@if-use-mod:ui-icon--name-password
    &[ui-icon--name="paste-on-document"]:before { content: "\f242"; } //@if-use-mod:ui-icon--name-paste-on-document
    &[ui-icon--name="pause-symbol"]:before { content: "\f243"; } //@if-use-mod:ui-icon--name-pause-symbol
    &[ui-icon--name="pencil"]:before { content: "\f244"; } //@if-use-mod:ui-icon--name-pencil
    &[ui-icon--name="percent-book"]:before { content: "\f245"; } //@if-use-mod:ui-icon--name-percent-book
    &[ui-icon--name="phone"]:before { content: "\f246"; } //@if-use-mod:ui-icon--name-phone
    &[ui-icon--name="picture"]:before { content: "\f247"; } //@if-use-mod:ui-icon--name-picture
    &[ui-icon--name="picture-file"]:before { content: "\f248"; } //@if-use-mod:ui-icon--name-picture-file
    &[ui-icon--name="pie-chart"]:before { content: "\f249"; } //@if-use-mod:ui-icon--name-pie-chart
    &[ui-icon--name="pill"]:before { content: "\f24a"; } //@if-use-mod:ui-icon--name-pill
    &[ui-icon--name="pin"]:before { content: "\f24b"; } //@if-use-mod:ui-icon--name-pin
    &[ui-icon--name="pin-post"]:before { content: "\f24c"; } //@if-use-mod:ui-icon--name-pin-post
    &[ui-icon--name="placeholder"]:before { content: "\f24d"; } //@if-use-mod:ui-icon--name-placeholder
    &[ui-icon--name="play-button"]:before { content: "\f24e"; } //@if-use-mod:ui-icon--name-play-button
    &[ui-icon--name="play-circle"]:before { content: "\f24f"; } //@if-use-mod:ui-icon--name-play-circle
    &[ui-icon--name="play-file"]:before { content: "\f250"; } //@if-use-mod:ui-icon--name-play-file
    &[ui-icon--name="plug"]:before { content: "\f251"; } //@if-use-mod:ui-icon--name-plug
    &[ui-icon--name="plus"]:before { content: "\f252"; } //@if-use-mod:ui-icon--name-plus
    &[ui-icon--name="plus-and-minus"]:before { content: "\f253"; } //@if-use-mod:ui-icon--name-plus-and-minus
    &[ui-icon--name="plus-circle"]:before { content: "\f254"; } //@if-use-mod:ui-icon--name-plus-circle
    &[ui-icon--name="plus-circle-1"]:before { content: "\f255"; } //@if-use-mod:ui-icon--name-plus-circle-1
    &[ui-icon--name="pointer"]:before { content: "\f256"; } //@if-use-mod:ui-icon--name-pointer
    &[ui-icon--name="power-button"]:before { content: "\f257"; } //@if-use-mod:ui-icon--name-power-button
    &[ui-icon--name="presentation"]:before { content: "\f258"; } //@if-use-mod:ui-icon--name-presentation
    &[ui-icon--name="presentation-file"]:before { content: "\f259"; } //@if-use-mod:ui-icon--name-presentation-file
    &[ui-icon--name="previous"]:before { content: "\f25a"; } //@if-use-mod:ui-icon--name-previous
    &[ui-icon--name="previous-track"]:before { content: "\f25b"; } //@if-use-mod:ui-icon--name-previous-track
    &[ui-icon--name="printer"]:before { content: "\f25c"; } //@if-use-mod:ui-icon--name-printer
    &[ui-icon--name="processing-file"]:before { content: "\f25d"; } //@if-use-mod:ui-icon--name-processing-file
    &[ui-icon--name="progress-bar"]:before { content: "\f25e"; } //@if-use-mod:ui-icon--name-progress-bar
    &[ui-icon--name="puzzle-piece"]:before { content: "\f25f"; } //@if-use-mod:ui-icon--name-puzzle-piece
    &[ui-icon--name="qr-code"]:before { content: "\f260"; } //@if-use-mod:ui-icon--name-qr-code
    &[ui-icon--name="question"]:before { content: "\f261"; } //@if-use-mod:ui-icon--name-question
    &[ui-icon--name="question-circular-button"]:before { content: "\f262"; } //@if-use-mod:ui-icon--name-question-circular-button
    &[ui-icon--name="question-circular-button-1"]:before { content: "\f263"; } //@if-use-mod:ui-icon--name-question-circular-button-1
    &[ui-icon--name="random"]:before { content: "\f264"; } //@if-use-mod:ui-icon--name-random
    &[ui-icon--name="raster"]:before { content: "\f265"; } //@if-use-mod:ui-icon--name-raster
    &[ui-icon--name="recycling"]:before { content: "\f266"; } //@if-use-mod:ui-icon--name-recycling
    &[ui-icon--name="refresh"]:before { content: "\f267"; } //@if-use-mod:ui-icon--name-refresh
    &[ui-icon--name="refresh-file"]:before { content: "\f268"; } //@if-use-mod:ui-icon--name-refresh-file
    &[ui-icon--name="reply"]:before { content: "\f269"; } //@if-use-mod:ui-icon--name-reply
    &[ui-icon--name="reply-all"]:before { content: "\f26a"; } //@if-use-mod:ui-icon--name-reply-all
    &[ui-icon--name="resize"]:before { content: "\f26b"; } //@if-use-mod:ui-icon--name-resize
    &[ui-icon--name="resize-1"]:before { content: "\f26c"; } //@if-use-mod:ui-icon--name-resize-1
    &[ui-icon--name="retweet"]:before { content: "\f26d"; } //@if-use-mod:ui-icon--name-retweet
    &[ui-icon--name="rewind"]:before { content: "\f26e"; } //@if-use-mod:ui-icon--name-rewind
    &[ui-icon--name="rewind-symbol"]:before { content: "\f26f"; } //@if-use-mod:ui-icon--name-rewind-symbol
    &[ui-icon--name="rhombus"]:before { content: "\f270"; } //@if-use-mod:ui-icon--name-rhombus
    &[ui-icon--name="right-alignment"]:before { content: "\f271"; } //@if-use-mod:ui-icon--name-right-alignment
    &[ui-icon--name="right-arrow"]:before { content: "\f272"; } //@if-use-mod:ui-icon--name-right-arrow
    &[ui-icon--name="right-arrow-1"]:before { content: "\f273"; } //@if-use-mod:ui-icon--name-right-arrow-1
    &[ui-icon--name="right-arrow-2"]:before { content: "\f274"; } //@if-use-mod:ui-icon--name-right-arrow-2
    &[ui-icon--name="right-arrow-3"]:before { content: "\f275"; } //@if-use-mod:ui-icon--name-right-arrow-3
    &[ui-icon--name="right-arrow-4"]:before { content: "\f276"; } //@if-use-mod:ui-icon--name-right-arrow-4
    &[ui-icon--name="right-arrow-5"]:before { content: "\f277"; } //@if-use-mod:ui-icon--name-right-arrow-5
    &[ui-icon--name="right-arrow-6"]:before { content: "\f278"; } //@if-use-mod:ui-icon--name-right-arrow-6
    &[ui-icon--name="right-arrow-7"]:before { content: "\f279"; } //@if-use-mod:ui-icon--name-right-arrow-7
    &[ui-icon--name="right-arrow-8"]:before { content: "\f27a"; } //@if-use-mod:ui-icon--name-right-arrow-8
    &[ui-icon--name="right-arrow-9"]:before { content: "\f27b"; } //@if-use-mod:ui-icon--name-right-arrow-9
    &[ui-icon--name="right-arrows"]:before { content: "\f27c"; } //@if-use-mod:ui-icon--name-right-arrows
    &[ui-icon--name="right-bold-arrow"]:before { content: "\f27d"; } //@if-use-mod:ui-icon--name-right-bold-arrow
    &[ui-icon--name="right-half-star"]:before { content: "\f27e"; } //@if-use-mod:ui-icon--name-right-half-star
    &[ui-icon--name="right-lower-corner"]:before { content: "\f27f"; } //@if-use-mod:ui-icon--name-right-lower-corner
    &[ui-icon--name="right-margin"]:before { content: "\f280"; } //@if-use-mod:ui-icon--name-right-margin
    &[ui-icon--name="right-margin-1"]:before { content: "\f281"; } //@if-use-mod:ui-icon--name-right-margin-1
    &[ui-icon--name="right-quote"]:before { content: "\f282"; } //@if-use-mod:ui-icon--name-right-quote
    &[ui-icon--name="right-upper-coner"]:before { content: "\f283"; } //@if-use-mod:ui-icon--name-right-upper-coner
    &[ui-icon--name="road"]:before { content: "\f284"; } //@if-use-mod:ui-icon--name-road
    &[ui-icon--name="road-detour"]:before { content: "\f285"; } //@if-use-mod:ui-icon--name-road-detour
    &[ui-icon--name="road-detours"]:before { content: "\f286"; } //@if-use-mod:ui-icon--name-road-detours
    &[ui-icon--name="road-split"]:before { content: "\f287"; } //@if-use-mod:ui-icon--name-road-split
    &[ui-icon--name="rocket"]:before { content: "\f288"; } //@if-use-mod:ui-icon--name-rocket
    &[ui-icon--name="rotate-left"]:before { content: "\f289"; } //@if-use-mod:ui-icon--name-rotate-left
    &[ui-icon--name="rotate-to-right"]:before { content: "\f28a"; } //@if-use-mod:ui-icon--name-rotate-to-right
    &[ui-icon--name="round-play-button"]:before { content: "\f28b"; } //@if-use-mod:ui-icon--name-round-play-button
    &[ui-icon--name="rss"]:before { content: "\f28c"; } //@if-use-mod:ui-icon--name-rss
    &[ui-icon--name="rss-square"]:before { content: "\f28d"; } //@if-use-mod:ui-icon--name-rss-square
    &[ui-icon--name="safe-lock"]:before { content: "\f28e"; } //@if-use-mod:ui-icon--name-safe-lock
    &[ui-icon--name="safebox"]:before { content: "\f28f"; } //@if-use-mod:ui-icon--name-safebox
    &[ui-icon--name="scissors"]:before { content: "\f290"; } //@if-use-mod:ui-icon--name-scissors
    &[ui-icon--name="screwdriver"]:before { content: "\f291"; } //@if-use-mod:ui-icon--name-screwdriver
    &[ui-icon--name="search"]:before { content: "\f292"; } //@if-use-mod:ui-icon--name-search
    &[ui-icon--name="select"]:before { content: "\f293"; } //@if-use-mod:ui-icon--name-select
    &[ui-icon--name="select-area"]:before { content: "\f294"; } //@if-use-mod:ui-icon--name-select-area
    &[ui-icon--name="select-list"]:before { content: "\f295"; } //@if-use-mod:ui-icon--name-select-list
    &[ui-icon--name="server"]:before { content: "\f296"; } //@if-use-mod:ui-icon--name-server
    &[ui-icon--name="share-arrow"]:before { content: "\f297"; } //@if-use-mod:ui-icon--name-share-arrow
    &[ui-icon--name="share-square"]:before { content: "\f298"; } //@if-use-mod:ui-icon--name-share-square
    &[ui-icon--name="shield"]:before { content: "\f299"; } //@if-use-mod:ui-icon--name-shield
    &[ui-icon--name="shopping-cart"]:before { content: "\f29a"; } //@if-use-mod:ui-icon--name-shopping-cart
    &[ui-icon--name="shopping-cart-1"]:before { content: "\f29b"; } //@if-use-mod:ui-icon--name-shopping-cart-1
    &[ui-icon--name="sign-in"]:before { content: "\f29c"; } //@if-use-mod:ui-icon--name-sign-in
    &[ui-icon--name="sign-in-1"]:before { content: "\f29d"; } //@if-use-mod:ui-icon--name-sign-in-1
    &[ui-icon--name="sign-out"]:before { content: "\f29e"; } //@if-use-mod:ui-icon--name-sign-out
    &[ui-icon--name="signal"]:before { content: "\f29f"; } //@if-use-mod:ui-icon--name-signal
    &[ui-icon--name="site-map"]:before { content: "\f2a0"; } //@if-use-mod:ui-icon--name-site-map
    &[ui-icon--name="skip-track"]:before { content: "\f2a1"; } //@if-use-mod:ui-icon--name-skip-track
    &[ui-icon--name="skip-track-1"]:before { content: "\f2a2"; } //@if-use-mod:ui-icon--name-skip-track-1
    &[ui-icon--name="slider"]:before { content: "\f2a3"; } //@if-use-mod:ui-icon--name-slider
    &[ui-icon--name="sliders"]:before { content: "\f2a4"; } //@if-use-mod:ui-icon--name-sliders
    &[ui-icon--name="smartphone"]:before { content: "\f2a5"; } //@if-use-mod:ui-icon--name-smartphone
    &[ui-icon--name="smile"]:before { content: "\f2a6"; } //@if-use-mod:ui-icon--name-smile
    &[ui-icon--name="smiley"]:before { content: "\f2a7"; } //@if-use-mod:ui-icon--name-smiley
    &[ui-icon--name="sort"]:before { content: "\f2a8"; } //@if-use-mod:ui-icon--name-sort
    &[ui-icon--name="sound-file"]:before { content: "\f2a9"; } //@if-use-mod:ui-icon--name-sound-file
    &[ui-icon--name="sound-mute"]:before { content: "\f2aa"; } //@if-use-mod:ui-icon--name-sound-mute
    &[ui-icon--name="speaker"]:before { content: "\f2ab"; } //@if-use-mod:ui-icon--name-speaker
    &[ui-icon--name="spinner"]:before { content: "\f2ac"; } //@if-use-mod:ui-icon--name-spinner
    &[ui-icon--name="spinner-1"]:before { content: "\f2ad"; } //@if-use-mod:ui-icon--name-spinner-1
    &[ui-icon--name="split"]:before { content: "\f2ae"; } //@if-use-mod:ui-icon--name-split
    &[ui-icon--name="split-browser"]:before { content: "\f2af"; } //@if-use-mod:ui-icon--name-split-browser
    &[ui-icon--name="split-browser-1"]:before { content: "\f2b0"; } //@if-use-mod:ui-icon--name-split-browser-1
    &[ui-icon--name="spoon"]:before { content: "\f2b1"; } //@if-use-mod:ui-icon--name-spoon
    &[ui-icon--name="square"]:before { content: "\f2b2"; } //@if-use-mod:ui-icon--name-square
    &[ui-icon--name="square-menu"]:before { content: "\f2b3"; } //@if-use-mod:ui-icon--name-square-menu
    &[ui-icon--name="square-menu-1"]:before { content: "\f2b4"; } //@if-use-mod:ui-icon--name-square-menu-1
    &[ui-icon--name="square-shadow"]:before { content: "\f2b5"; } //@if-use-mod:ui-icon--name-square-shadow
    &[ui-icon--name="squares"]:before { content: "\f2b6"; } //@if-use-mod:ui-icon--name-squares
    &[ui-icon--name="squares-1"]:before { content: "\f2b7"; } //@if-use-mod:ui-icon--name-squares-1
    &[ui-icon--name="star"]:before { content: "\f2b8"; } //@if-use-mod:ui-icon--name-star
    &[ui-icon--name="star-1"]:before { content: "\f2b9"; } //@if-use-mod:ui-icon--name-star-1
    &[ui-icon--name="star-half-filled"]:before { content: "\f2ba"; } //@if-use-mod:ui-icon--name-star-half-filled
    &[ui-icon--name="star-half-filled-1"]:before { content: "\f2bb"; } //@if-use-mod:ui-icon--name-star-half-filled-1
    &[ui-icon--name="start-settings"]:before { content: "\f2bc"; } //@if-use-mod:ui-icon--name-start-settings
    &[ui-icon--name="stethoscope"]:before { content: "\f2bd"; } //@if-use-mod:ui-icon--name-stethoscope
    &[ui-icon--name="sticker"]:before { content: "\f2be"; } //@if-use-mod:ui-icon--name-sticker
    &[ui-icon--name="stop"]:before { content: "\f2bf"; } //@if-use-mod:ui-icon--name-stop
    &[ui-icon--name="stop-settings"]:before { content: "\f2c0"; } //@if-use-mod:ui-icon--name-stop-settings
    &[ui-icon--name="striketrought"]:before { content: "\f2c1"; } //@if-use-mod:ui-icon--name-striketrought
    &[ui-icon--name="subscript"]:before { content: "\f2c2"; } //@if-use-mod:ui-icon--name-subscript
    &[ui-icon--name="suitcase"]:before { content: "\f2c3"; } //@if-use-mod:ui-icon--name-suitcase
    &[ui-icon--name="sun"]:before { content: "\f2c4"; } //@if-use-mod:ui-icon--name-sun
    &[ui-icon--name="superscript"]:before { content: "\f2c5"; } //@if-use-mod:ui-icon--name-superscript
    &[ui-icon--name="sword"]:before { content: "\f2c6"; } //@if-use-mod:ui-icon--name-sword
    &[ui-icon--name="symbol"]:before { content: "\f2c7"; } //@if-use-mod:ui-icon--name-symbol
    &[ui-icon--name="table"]:before { content: "\f2c8"; } //@if-use-mod:ui-icon--name-table
    &[ui-icon--name="table-file"]:before { content: "\f2c9"; } //@if-use-mod:ui-icon--name-table-file
    &[ui-icon--name="tabs"]:before { content: "\f2ca"; } //@if-use-mod:ui-icon--name-tabs
    &[ui-icon--name="tag"]:before { content: "\f2cb"; } //@if-use-mod:ui-icon--name-tag
    &[ui-icon--name="tags"]:before { content: "\f2cc"; } //@if-use-mod:ui-icon--name-tags
    &[ui-icon--name="tasks"]:before { content: "\f2cd"; } //@if-use-mod:ui-icon--name-tasks
    &[ui-icon--name="taxi"]:before { content: "\f2ce"; } //@if-use-mod:ui-icon--name-taxi
    &[ui-icon--name="teeth"]:before { content: "\f2cf"; } //@if-use-mod:ui-icon--name-teeth
    &[ui-icon--name="temple"]:before { content: "\f2d0"; } //@if-use-mod:ui-icon--name-temple
    &[ui-icon--name="terminal"]:before { content: "\f2d1"; } //@if-use-mod:ui-icon--name-terminal
    &[ui-icon--name="text-file"]:before { content: "\f2d2"; } //@if-use-mod:ui-icon--name-text-file
    &[ui-icon--name="text-file-1"]:before { content: "\f2d3"; } //@if-use-mod:ui-icon--name-text-file-1
    &[ui-icon--name="text-height"]:before { content: "\f2d4"; } //@if-use-mod:ui-icon--name-text-height
    &[ui-icon--name="text-input"]:before { content: "\f2d5"; } //@if-use-mod:ui-icon--name-text-input
    &[ui-icon--name="text-label"]:before { content: "\f2d6"; } //@if-use-mod:ui-icon--name-text-label
    &[ui-icon--name="text-width"]:before { content: "\f2d7"; } //@if-use-mod:ui-icon--name-text-width
    &[ui-icon--name="three-cells"]:before { content: "\f2d8"; } //@if-use-mod:ui-icon--name-three-cells
    &[ui-icon--name="three-cells-1"]:before { content: "\f2d9"; } //@if-use-mod:ui-icon--name-three-cells-1
    &[ui-icon--name="thumb-down"]:before { content: "\f2da"; } //@if-use-mod:ui-icon--name-thumb-down
    &[ui-icon--name="thumb-down-1"]:before { content: "\f2db"; } //@if-use-mod:ui-icon--name-thumb-down-1
    &[ui-icon--name="thumb-up"]:before { content: "\f2dc"; } //@if-use-mod:ui-icon--name-thumb-up
    &[ui-icon--name="thumb-up-1"]:before { content: "\f2dd"; } //@if-use-mod:ui-icon--name-thumb-up-1
    &[ui-icon--name="ticket"]:before { content: "\f2de"; } //@if-use-mod:ui-icon--name-ticket
    &[ui-icon--name="toolbox"]:before { content: "\f2df"; } //@if-use-mod:ui-icon--name-toolbox
    &[ui-icon--name="tools"]:before { content: "\f2e0"; } //@if-use-mod:ui-icon--name-tools
    &[ui-icon--name="tooth"]:before { content: "\f2e1"; } //@if-use-mod:ui-icon--name-tooth
    &[ui-icon--name="top-margin"]:before { content: "\f2e2"; } //@if-use-mod:ui-icon--name-top-margin
    &[ui-icon--name="top-margin-1"]:before { content: "\f2e3"; } //@if-use-mod:ui-icon--name-top-margin-1
    &[ui-icon--name="train"]:before { content: "\f2e4"; } //@if-use-mod:ui-icon--name-train
    &[ui-icon--name="trash"]:before { content: "\f2e5"; } //@if-use-mod:ui-icon--name-trash
    &[ui-icon--name="tree-table"]:before { content: "\f2e6"; } //@if-use-mod:ui-icon--name-tree-table
    &[ui-icon--name="trophy"]:before { content: "\f2e7"; } //@if-use-mod:ui-icon--name-trophy
    &[ui-icon--name="truck"]:before { content: "\f2e8"; } //@if-use-mod:ui-icon--name-truck
    &[ui-icon--name="twitter-logo"]:before { content: "\f2e9"; } //@if-use-mod:ui-icon--name-twitter-logo
    &[ui-icon--name="twitter-logo-1"]:before { content: "\f2ea"; } //@if-use-mod:ui-icon--name-twitter-logo-1
    &[ui-icon--name="two-pills"]:before { content: "\f2eb"; } //@if-use-mod:ui-icon--name-two-pills
    &[ui-icon--name="umbrella"]:before { content: "\f2ec"; } //@if-use-mod:ui-icon--name-umbrella
    &[ui-icon--name="underline"]:before { content: "\f2ed"; } //@if-use-mod:ui-icon--name-underline
    &[ui-icon--name="unlock"]:before { content: "\f2ee"; } //@if-use-mod:ui-icon--name-unlock
    &[ui-icon--name="up-arrow"]:before { content: "\f2ef"; } //@if-use-mod:ui-icon--name-up-arrow
    &[ui-icon--name="up-arrow-1"]:before { content: "\f2f0"; } //@if-use-mod:ui-icon--name-up-arrow-1
    &[ui-icon--name="up-arrow-2"]:before { content: "\f2f1"; } //@if-use-mod:ui-icon--name-up-arrow-2
    &[ui-icon--name="up-arrow-3"]:before { content: "\f2f2"; } //@if-use-mod:ui-icon--name-up-arrow-3
    &[ui-icon--name="up-arrow-4"]:before { content: "\f2f3"; } //@if-use-mod:ui-icon--name-up-arrow-4
    &[ui-icon--name="up-arrow-5"]:before { content: "\f2f4"; } //@if-use-mod:ui-icon--name-up-arrow-5
    &[ui-icon--name="up-arrow-6"]:before { content: "\f2f5"; } //@if-use-mod:ui-icon--name-up-arrow-6
    &[ui-icon--name="up-arrow-7"]:before { content: "\f2f6"; } //@if-use-mod:ui-icon--name-up-arrow-7
    &[ui-icon--name="up-arrow-on-circle"]:before { content: "\f2f7"; } //@if-use-mod:ui-icon--name-up-arrow-on-circle
    &[ui-icon--name="up-arrows"]:before { content: "\f2f8"; } //@if-use-mod:ui-icon--name-up-arrows
    &[ui-icon--name="upload"]:before { content: "\f2f9"; } //@if-use-mod:ui-icon--name-upload
    &[ui-icon--name="upload-1"]:before { content: "\f2fa"; } //@if-use-mod:ui-icon--name-upload-1
    &[ui-icon--name="user"]:before { content: "\f2fb"; } //@if-use-mod:ui-icon--name-user
    &[ui-icon--name="user-and-clock"]:before { content: "\f2fc"; } //@if-use-mod:ui-icon--name-user-and-clock
    &[ui-icon--name="user-and-heart"]:before { content: "\f2fd"; } //@if-use-mod:ui-icon--name-user-and-heart
    &[ui-icon--name="user-card"]:before { content: "\f2fe"; } //@if-use-mod:ui-icon--name-user-card
    &[ui-icon--name="user-checked"]:before { content: "\f2ff"; } //@if-use-mod:ui-icon--name-user-checked
    &[ui-icon--name="users"]:before { content: "\f300"; } //@if-use-mod:ui-icon--name-users
    &[ui-icon--name="vaadin"]:before { content: "\f301"; } //@if-use-mod:ui-icon--name-vaadin
    &[ui-icon--name="vertical-double-arrow"]:before { content: "\f302"; } //@if-use-mod:ui-icon--name-vertical-double-arrow
    &[ui-icon--name="viewpoint"]:before { content: "\f303"; } //@if-use-mod:ui-icon--name-viewpoint
    &[ui-icon--name="vimeo-logo"]:before { content: "\f304"; } //@if-use-mod:ui-icon--name-vimeo-logo
    &[ui-icon--name="vimeo-logo-1"]:before { content: "\f305"; } //@if-use-mod:ui-icon--name-vimeo-logo-1
    &[ui-icon--name="volume-down"]:before { content: "\f306"; } //@if-use-mod:ui-icon--name-volume-down
    &[ui-icon--name="volume-off"]:before { content: "\f307"; } //@if-use-mod:ui-icon--name-volume-off
    &[ui-icon--name="volume-up"]:before { content: "\f308"; } //@if-use-mod:ui-icon--name-volume-up
    &[ui-icon--name="warning"]:before { content: "\f309"; } //@if-use-mod:ui-icon--name-warning
    &[ui-icon--name="white-flag"]:before { content: "\f30a"; } //@if-use-mod:ui-icon--name-white-flag
    &[ui-icon--name="woman-with-skirt"]:before { content: "\f30b"; } //@if-use-mod:ui-icon--name-woman-with-skirt
    &[ui-icon--name="wrench"]:before { content: "\f30c"; } //@if-use-mod:ui-icon--name-wrench
    &[ui-icon--name="youtube"]:before { content: "\f30d"; } //@if-use-mod:ui-icon--name-youtube
    &[ui-icon--name="youtube-1"]:before { content: "\f30e"; } //@if-use-mod:ui-icon--name-youtube-1
    &[ui-icon--name="zip-file"]:before { content: "\f30f"; } //@if-use-mod:ui-icon--name-zip-file
    &[ui-icon--name="zoom-in"]:before { content: "\f310"; } //@if-use-mod:ui-icon--name-zoom-in
    &[ui-icon--name="zoom-out"]:before { content: "\f311"; } //@if-use-mod:ui-icon--name-zoom-out

    // Colors 
    @include icon-color('primary', $color-primary);   //@if-use-mod:ui-icon--color-primary 
    @include icon-color('info', $color-info);         //@if-use-mod:ui-icon--color-info 
    @include icon-color('success', $color-success);   //@if-use-mod:ui-icon--color-success 
    @include icon-color('danger', $color-danger);     //@if-use-mod:ui-icon--color-danger 
    @include icon-color('warning', $color-warning);   //@if-use-mod:ui-icon--color-warning 

    // Sizes
    @include icon-size('small', $btn-sm-multiplier);       //@if-use-mod:ui-icon--size-small
    @include icon-size('medium', $btn-md-multiplier);       //@if-use-mod:ui-icon--size-medium
    @include icon-size('large', $btn-lg-multiplier);       //@if-use-mod:ui-icon--size-large
}