@import './utils';
@import './theme';
@import './components/toast/toast';

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	font-family: $base-font-family;
	font-size: $base-font-size;
	color: $base-text-color;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #app {
	height: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}