// Grid settings
$columns: 12;
$gutter: 8px;

// Spacing and Rounding
$default-margin: 8px;
$default-padding: 8px;
$default-border-radius: 4px;

// Text
$base-text-color: #666;
$base-font-family: 'Fira Sans', sans-serif;
$base-font-size: 14px;

// Colors
$color-default:        #E6E6E6;
$color-primary:        #0078E7;
$color-info:           #42B8DD;
$color-danger:         #CA3C3C;
$color-success:        #1CB841;
$color-warning:        #DF7514;
$default-background:   #efefef;
$default-border-color: $color-default;

// Buttons
$btn-default-height: 30px;
$btn-hover-darken:   5%;
$btn-hover-lighten:  5%;
$btn-xs-multiplier:  .65;
$btn-sm-multiplier:  .75;
$btn-md-multiplier:  1;
$btn-lg-multiplier:  1.5;
$btn-xl-multiplier:  2;

// Spinner
$spinner-border-size: 4px;
$spinner-border-active-color: darken(#E6E6E6, 15%);
$spinner-border-inactive-color: #E6E6E6;

// Layout settings:

// -- Admin:

$admin-layout-nav-background: #666;
$admin-layout-nav-color: #fff;
$admin-layout-nav-hover-background: $default-background;

$admin-layout-sidebar-background: #666;
$admin-layout-sidebar-width: 200px;
$admin-layout-sidebar-width-collapsed: 60px;
$admin-layout-default-background: $default-background;

// -- Auth:
$auth-layout-default-background: $default-background;
$auth-layout-box-background: #FFFFFF;
$auth-layout-box-text-color: $base-text-color;