@import '../../theme';

@mixin pagination-rounded ($name) {
    &[ui-pagination--pagination="#{$name}"] {
        ul {
            li {
                [ui-pagination-number] {
                    border-radius: 290486px;
                }
            }
        }
    }
}

@mixin pagination-size ($name, $multipler) {
    &[ui-pagination--size="#{$name}"] {
        ul {
            li {
                [ui-pagination-number] {
                   height: $btn-default-height * $multipler;
                    line-height: $btn-default-height * $multipler;
                    font-size: $base-font-size * $multipler;
                    padding: 0 $default-padding * 1.5 * $multipler; 
                }
            }
        }
    }
}

[ui-pagination] {
    ul {
        li {
            display: inline-block;
            user-select: none;

            [ui-pagination-number] {
                background-color: $color-default;
                border-radius: $default-border-radius;
                cursor: pointer;
                display: inline-block;
                height: 30px;
                line-height: 30px;
                padding: 0 $default-padding;
                margin-right: 5px;
                text-align: center;
                min-width: 30px;
            }

            &.current,
            &:not(.ellipsis):hover {
                [ui-pagination-number] {
                    background-color: $color-info;
                    color: #fff;
                }
            }

            &.ellipsis {
                [ui-pagination-number] {
                    cursor: unset;
                    background-color: lighten($color-default, $btn-hover-lighten);
                    color: lighten($base-text-color, $btn-hover-lighten);
                }
            }
        }
    }

    // Modifiers 
    @include pagination-rounded('rounded');   //@if-use-mod:ui-pagination--pagination-rounded

    // Sizes
    @include pagination-size('small', $btn-sm-multiplier);       //@if-use-mod:ui-pagination--size-small
    @include pagination-size('large', $btn-lg-multiplier);       //@if-use-mod:ui-pagination--size-large
    @include pagination-size('extra-large', $btn-xl-multiplier); //@if-use-mod:ui-pagination--size-extra-large
}