$grid-area: 100;
$grid-cols: 12;
$grid-gutter: 0.5rem;

$breakpoint: (
    xs: 575,
    sm: 576,
    md: 768,
    lg: 992,
    xl: 1200
);

[ui-row] {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: center;
    box-sizing:border-box;
    margin-bottom:$grid-gutter;

    // Directions
    &[reverse] {
        justify-content: flex-end;
    }

    &[center] {
        justify-content: center;
    }
    
    &[space] {
        justify-content: space-between;
    }
    
    &[around] {
        justify-content: space-around;
    }

    // Cols
    [ui-column] {
        flex: 0 0 auto;
        width: 100%;
        box-sizing:border-box;
        padding-left:$grid-gutter;
        padding-right:$grid-gutter;

         // Grid Default
         @for $i from 1 through 12 {
            &[ui-size="#{$i}"] {
                width:  ( $grid-area / ($grid-cols / $i) ) * 1%;
            }

            // Offset
            &[ui-size-offset="#{$i}"] {
                margin-left: ( $grid-area / ($grid-cols / $i) ) * 1%;
            }
        }

        // MediaQuery
        @each $name, $size in $breakpoint {
            @media screen and (min-width: #{$size} * 1px) {
                @for $i from 1 through $grid-cols {
                    &[ui-size-#{$name}="#{$i}"] {
                        width: ($grid-area / ($grid-cols / $i)) * 1%;
                    }

                    // Offset
                    &[ui-offset-#{$name}="#{$i}"] {
                        margin-left: ($grid-area / ($grid-cols / $i)) * 1%!important;
                    }

                    &[ui-offset-#{$name}-out] {
                        margin-left: 0%!important;
                    }
                }
            }
        }
    }
}