@import '../../theme';

@mixin btn-color ($name, $background, $color) {
    &[ui-btn--color="#{$name}"] {
        background-color: $background;
        color: $color;
        border: 0;

        &:hover {
            background-color: darken($background, $btn-hover-darken);
        }
    }
}

@mixin btn-size ($name, $multipler) {
    &[ui-btn--size="#{$name}"] {
        font-size: $base-font-size + $multipler;
    }
}

@mixin btn-outlined ($name, $background, $color) {
    &[ui-btn--color="#{$name}-outlined"] {
        background-color: $background;
        color: $color;
        border: 1px solid $color;

        &:hover {
            background-color: $color;
            color: $background;
        }
    }
}

@mixin btn-inverted ($name, $color) {
    &[ui-btn--color="#{$name}-inverted"] {
        background-color: #FFFFFF;
        color: $color;
        border: 0;

        &:hover {
            background-color: #f2f2f2;
            color: $color;
        }
    }
}

@mixin btn-light ($name, $background) {
    &[ui-btn--color="#{$name}-light"] {
        background-color: mix($background, #FFFFFF, 10);
        color: darken($background, 23%);
        border: 0;

        &:hover {
            background-color: mix($background, #FFFFFF, 15);
        }
    }
}

@mixin btn-rounded () {
    &[ui-btn--style="rounded"] {
        border-radius: 290486px;
    }
}

[ui-btn] {
    background-color: $color-default;
    border: 1px solid $default-border-color;
    border-radius: $default-border-radius;
    color: #363636;
    font-size: $base-font-size;
    cursor: pointer;
    display: inline-block;
    height: $btn-default-height;
    line-height: $btn-default-line-height;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);

    &:hover {
        border-color: darken($default-border-color, $btn-hover-darken);
    }

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    // Colors 
    @include btn-color('primary', $color-primary, #FFFFFF);   //@if-use-mod:ui-btn--color-primary 
    @include btn-color('info', $color-info, #FFFFFF);         //@if-use-mod:ui-btn--color-info 
    @include btn-color('success', $color-success, #FFFFFF);   //@if-use-mod:ui-btn--color-success 
    @include btn-color('danger', $color-danger, #FFFFFF);     //@if-use-mod:ui-btn--color-danger 
    @include btn-color('warning', $color-warning, #000000b3); //@if-use-mod:ui-btn--color-warning 
    
    // Outlined 
    @include btn-outlined('primary', #FFFFFF, $color-primary); //@if-use-mod:ui-btn--color-primary-outlined 
    @include btn-outlined('info', #FFFFFF, $color-info);       //@if-use-mod:ui-btn--color-info-outlined 
    @include btn-outlined('success', #FFFFFF, $color-success); //@if-use-mod:ui-btn--color-success-outlined 
    @include btn-outlined('danger', #FFFFFF, $color-danger);   //@if-use-mod:ui-btn--color-danger-outlined 
    @include btn-outlined('warning', #FFFFFF, $color-warning); //@if-use-mod:ui-btn--color-warning-outlined 

    // Inverted 
    @include btn-inverted('primary', $color-primary);  //@if-use-mod:ui-btn--color-primary-inverted 
    @include btn-inverted('info', $color-info);        //@if-use-mod:ui-btn--color-info-inverted 
    @include btn-inverted('success', $color-success);  //@if-use-mod:ui-btn--color-success-inverted 
    @include btn-inverted('danger', $color-danger);    //@if-use-mod:ui-btn--color-danger-inverted 
    @include btn-inverted('warning', $color-warning);  //@if-use-mod:ui-btn--color-warning-inverted 

    // Light
    @include btn-light('primary', $color-primary); //@if-use-mod:ui-btn--color-primary-light 
    @include btn-light('info', $color-info);       //@if-use-mod:ui-btn--color-info-light 
    @include btn-light('success', $color-success); //@if-use-mod:ui-btn--color-success-light 
    @include btn-light('danger', $color-danger);   //@if-use-mod:ui-btn--color-danger-light 
    @include btn-light('warning', $color-warning); //@if-use-mod:ui-btn--color-warning-light 

    // Rounded
    @include btn-rounded();   //@if-use-mod:ui-btn--style-rounded 

    // Sizes
    @include btn-size('small', $btn-sm-multiplier);       //@if-use-mod:ui-btn--size-small
    @include btn-size('medium', $btn-md-multiplier);      //@if-use-mod:ui-btn--size-medium
    @include btn-size('large', $btn-lg-multiplier);       //@if-use-mod:ui-btn--size-large

    &[ui-btn--stretch="parent"] { width: 100%; } //@if-use-mod:ui-btn--stretch-parent
}